 <div class="header">
	<div class="container">
		<div class="header_left" data-wow-duration="2s" data-wow-delay="0.5s">
			<ul>
				<li><i class="fa fa-phone" aria-hidden="true"></i>+123 456 7890 </li>
				<li><a href="mailto:info@example.com"><i class="fa fa-envelope" aria-hidden="true"></i>info@example.com</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="container" style="padding-top: 30px;">
<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand link link--nukun" href="#"><img height="30" width="50"  src="" class="d-inline-block align-top" alt=""/> <span>IOSANgu4</span></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="main-menu">
        <li class="current-menu-item"><a href="/">HOME</a></li>
        <li class="parent">
            <a>MobileAnd_Default_Activity</a>
            <ul class="sub-menu">
                <li><a [routerLink]="['Screen_44150_deskeng']">Screen_44150_desk</a></li>
            </ul>
        </li>
    </ul>
  </div>
</nav>
<div>